#header-container {
	background: $blue url('https://2017.torino.wordcamp.org/files/2016/12/torino-wordcamp-wordpress.jpg');
  background-position: top center;
  background-size: cover !important;
  border-bottom: 5px solid $gold;
	color: $white;
	display: table;
	height: 360px;
  position: relative;
  width: 100%;

  #header {
		background: transparentize($dark-gray, .95);
    display: table-cell;
		height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

		#masthead {
			padding-top: 7em;

			@include min($xs) {
				padding-top: 5em;
			}

			@include min($bml) {
				padding-top: 3em;
			}
		}

  }

}

#return-to-central {
  display: none;
}

#site-description {
  color: $white;
  font-family: $sans-serif;
  font-size: 1em;
  letter-spacing: .11em;
}

#site-title {
  display: block;
  font-size: 2.4em;

  span {
    display: block;
  }

  a {
    color: transparent;
    display: inline-block;
    border: none;
  }

  color: $white;
  font-family: $sans-serif;
  font-size: 1em;
  letter-spacing: .11em;

  @include min($xs) {
    font-size: .8em;
  }

  span,
  span a:before {
    height: 200px;
    min-height: 200px;
    min-width: 200px;
    width: 200px;
    margin: 0 auto;
  }

  span a:before {
		background-image: url('https://2017.torino.wordcamp.org/files/2016/12/wordcamp-torino-2017-logo.png');
    background-size: cover;
    content: '';
    display: block;

		@include retina($xs) {
			background-image: url('https://2017.torino.wordcamp.org/files/2016/12/wordcamp-torino-2017-logo-retina.png');
	    background-size: cover;
		}
  }

}

/* Front-Page Specific Styles */

body.home {

  #header-container {
    @include min($xs) {
      height: 600px;
    }
  }

  #site-title {
    span,
    span a:before {
      @include min($xs) {
        width: 400px;
        height: 400px;
      }
    }
  }

}