%button-base {
	background: transparent;
	border: 2px solid;
	display: inline-block;
	font-family: $sans-serif;
	font-weight: 600;
	padding: .3em .8em;
  position: relative;

  &:hover {
    border: 0;
  }

  &:focus {
		left: 2px;
    top: 2px;
  }

}

%button {
  @extend %button-base;

	border-color: $dark-gray;
  color: $dark-gray;

  &:hover {
		background: $dark-gray;
		color: $white;
  }

}

%button-light {
  @extend %button-base;

  border-color: $gray;
	color: $gray;

  &:hover {
    background: $gray;
		color: $white;
  }

}

%button-gold {
  @extend %button-base;

	border-color: $light-gold;
  color: $light-gold;

  &:hover {
		background: $light-gold;
    color: $white;
  }

}

%button-white {
	@extend %button-base;

	border-color: $white;
	color: $white;

	&:hover {
		background: $white;
		color: $dark-gray;
	}
}

%button-blue {
  @extend %button-base;

	border-color: $blue;
  color: $blue;

  &:hover {
		background: $blue;
    color: $white;
  }

}

%button-small {
  letter-spacing: .07em;
  text-transform: uppercase;

  @include min($xs) {
    font-size: .72em;
  }

}

.button--gold {
  @extend %button-gold;

  &--small {
    @extend %button-gold;
    @extend %button-small;
  }

}

.button--white {
  @extend %button-white;

  &--small {
    @extend %button-white;
    @extend %button-small;
  }

}

.button--blue {
  @extend %button-blue;

  &--small {
    @extend %button-blue;
    @extend %button-small;
  }

}