/* Susy */
$susy: (
  columns: 12,
  gutters: 2,
  container: 1180px,
  global-box-sizing: border-box,
);

/* Fonts */
$sans-serif: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$serif: 'Lora', 'Georgia', sans-serif;

$font-size: 22px;
$font-size-xs:  16px;

/* Breakpoints */
$xxs:	415px;
$xs:	520px;
$sm:	768px;
$md:	992px;
$lg:	1260px;
$xlg:	1450px;

/* Colors */
$white:						#fff;
$lightest-gray:		#d6d6d6;
$light-gray:			#a7a7a7;
$gray:						#6f6967;
$dark-gray:				#484443;
$black:						#000;

$lightest-blue:		#9fcbd6;
$light-blue:			#368da3;
$blue:						#005a70;
$dark-blue:				#003c4b;

// $lightest-orange:	#d6d0af;
// $light-orange:		#d6c981;
// $orange:					#d6c251;

$lightest-orange:	#c64b4b;
$light-orange:		#b82626;
$orange:					#941e1e;

$body-bg:			$white;
$text-color:	$dark-gray;
$link-color:	$orange;

/* Other */
$border-radius:	6px;