/* Susy */
$susy: (
  columns: 12,
  gutters: 2,
  container: 1180px,
  global-box-sizing: border-box,
);

/* Fonts */
$sans-serif: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$serif: 'Lora', 'Georgia', sans-serif;

$font-size: 22px;
$font-size-xs:  16px;

/* Breakpoints */
$xxs:	415px;
$xs:	520px;
$sm:	768px;
$md:	992px;
$lg:	1260px;
$xlg:	1450px;

/* Colors */
$white:						#fff;
$lightest-gray:		#e0d4d0;
$light-gray:			#a79e9b;
$gray:						#6f6967;
$dark-gray:				#484443;
$black:						#000;

$lightest-blue:		#d6d0af;
$light-blue:			#d6c981;
$blue:						#d6c251;
$dark-blue:				#a1923d;

$lightest-orange:	#00b6e3;
$light-orange:		#0083a3;
// $orange:					#005a70;
$orange:					#d6c251;

$body-bg:			$white;
$text-color:	$dark-gray;
$link-color:	$orange;

/* Other */
$border-radius:	6px;